[submodule "verilog-65C02-microcode"]
	path = verilog-65C02-microcode
	url = https://github.com/notcbw/verilog-65C02-microcode.git
[submodule "uart"]
	path = uart
	url = https://github.com/ben-marshall/uart.git
[submodule "6551-ACIA"]
	path = 6551-ACIA
	url = https://github.com/ellisgl/6551-ACIA.git
[submodule "6502brosloader"]
	path = 6502brosloader
	url = https://github.com/ellisgl/6502brosloader.git
[submodule "6522-VIA"]
	path = 6522-VIA
	url = https://github.com/ellisgl/6522-VIA.git
